In [1]:
import pandas as pd
import numpy as np

In [3]:
data = pd.read_csv(r"E:\Dataset\P14-Simple-Linear-Regression\Simple_Linear_Regression\Salary_Data.csv")

In [4]:
data.head()

   Years  Salary
0    1.1   39343
1    1.3   46205
2    1.5   37731
3    2.0   43525
4    2.2   39891

In [5]:
from sklearn.model_selection import train_test_split

In [8]:
X = data["Years"]
y = data["Salary"]

In [10]:
X, y

(0      1.1
 1      1.3
 2      1.5
 3      2.0
 4      2.2
 5      2.9
 6      3.0
 7      3.2
 8      3.2
 9      3.7
 10     3.9
 11     4.0
 12     4.0
 13     4.1
 14     4.5
 15     4.9
 16     5.1
 17     5.3
 18     5.9
 19     6.0
 20     6.8
 21     7.1
 22     7.9
 23     8.2
 24     8.7
 25     9.0
 26     9.5
 27     9.6
 28    10.3
 29    10.5
 Name: Years, dtype: float64,
 0      39343
 1      46205
 2      37731
 3      43525
 4      39891
 5      56642
 6      60150
 7      54445
 8      64445
 9      57189
 10     63218
 11     55794
 12     56957
 13     57081
 14     61111
 15     67938
 16     66029
 17     83088
 18     81363
 19     93940
 20     91738
 21     98273
 22    101302
 23    113812
 24    109431
 25    105582
 26    116969
 27    112635
 28    122391
 29    121872
 Name: Salary, dtype: int64)

In [12]:
X_train, X_test, y_train, y_test = train_test_split(X, y, train_size=0.8)

In [13]:
len(X_train), len(y_train), len(X_test), len(y_test)

(24, 24, 6, 6)

In [14]:
from sklearn.linear_model import LinearRegression

In [15]:
model = LinearRegression()

In [24]:
X_train = X_train.to_numpy()

In [26]:
X_train = X_train.reshape(-1,1)

In [27]:
X_train.shape

(24, 1)

In [28]:
model.fit(X_train, y_train)

LinearRegression()

In [29]:
model

LinearRegression()

In [31]:
x_test = X_test.to_numpy()
X_test = x_test.reshape(-1,1)

In [33]:
X_test.shape

(6, 1)

In [34]:
ans = model.predict(X_test)

In [35]:
ans

array([37202.28476865, 43865.39362129, 89555.2828965 , 67662.21095213,
       92410.9009762 , 75277.19249799])

In [36]:
y_test

1     46205
3     43525
20    91738
14    61111
21    98273
17    83088
Name: Salary, dtype: int64

In [37]:
output_table = pd.DataFrame({'actual_salary':y_test, 'predicted_salary':ans})

In [38]:
output_table

    actual_salary  predicted_salary
1           46205      37202.284769
3           43525      43865.393621
20          91738      89555.282896
14          61111      67662.210952
21          98273      92410.900976
17          83088      75277.192498

In [39]:
from sklearn.metrics import mean_squared_error, mean_absolute_error

In [40]:
mean_squared_error(y_test, ans)

37370047.840927005

In [41]:
mean_absolute_error(y_test,ans)

5291.657239012219

In [59]:
a = np.asarray([13.3]).reshape(-1,1)

In [60]:
a.shape

(1, 1)

In [61]:
model.predict(a)

array([151427.00795667])