In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split

In [2]:
data=pd.read_csv("E:/Dataset/P14-Logistic-Regression/Logistic_Regression/Social_Network_Ads.csv")
data.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

In [92]:
x=data.iloc[:,3]
y=data.iloc[:,4]

array([['Male', 19, 19000],
       ['Male', 35, 20000],
       ['Female', 26, 43000],
       ...,
       ['Female', 50, 20000],
       ['Male', 36, 33000],
       ['Female', 49, 36000]], dtype=object)

In [94]:
x_train,x_test,y_train,y_test=train_test_split(x,y,train_size=0.80)

In [73]:
def normalise(x):
    return x-x.mean()

def sigmoid(x,b0,b1):
         return np.array([1/(1+np.exp( (-1*b0) + (b1*-1*X) ) ) for X in x])
        
def logistic_regression(x,y):
    epochs=1000
    L=0.001
    b0,b1=0,0
    x=normalise(x)
    
    for epoch in range(epochs):
            y_pred=sigmoid(x,b0,b1)
            d_b0= -2*sum(y_pred*(1-y_pred)*(y-y_pred)*1)
            d_b1= -2*sum(y_pred*(1-y_pred)*(y-y_pred)*x)
            b0-=L*d_b0
            b1-=L*d_b1
    return b0,b1

In [74]:
b0,b1=logistic_regression(x_train,y_train)

<ipython-input-73-96b27406a273>:5: RuntimeWarning: overflow encountered in exp
  return np.array([1/(1+np.exp( (-1*b0) + (b1*-1*X) ) ) for X in x])

In [75]:
b0,b1

(-0.021500000000000002, 1045.2375)

In [76]:
ypred=sigmoid(x_test,b0,b1)

In [77]:
ans=[1 if y>=0.5 else 0 for y in ypred]

In [78]:
from sklearn.metrics import confusion_matrix
confusion_matrix(ans,y_test)

array([[ 0,  0],
       [54, 26]], dtype=int64)

In [95]:
from sklearn.linear_model import LogisticRegression
model=LogisticRegression()
x_t,y_t=np.array(x_train),np.array(y_train)
model.fit(x_t.reshape(-1,1),y_t.reshape(-1,1))

C:\Users\Annamalai\anaconda3\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)

LogisticRegression()

In [96]:
gh=model.predict(np.array(x_test).reshape(-1,1))

In [97]:
confusion_matrix(gh,np.array(y_test).reshape(-1,1))

array([[48, 32],
       [ 0,  0]], dtype=int64)